################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/packages
/SiteWebEnchere_NB/bin
/SiteWebEnchere_NB/obj/Debug
/.vs
